body {
    background-image: url(./milkyway.jpg);
    
}
    

html {
    height: 100%;
}

.planetfavorites {
    font-size: 70px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(83, 49, 77);
    text-align: center; 
}

label {
    font-size: 25px;
    color: rgb(83, 49, 77);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.footer {
	background: rgb(83, 49, 77);
    padding: 5px 0;
    text-align: center;
    color: whitesmoke;
    font-size: 16px;
    right: 0;
    left: 0;
    bottom: 0;
    position: fixed;
}
